@font-face {
  font-family: 'Aelyn';
  src: url('https://thecozycorgi.github.io/fonts/Aelyn.otf') format('opentype');
}

@font-face {
  font-family: 'Amoun';
  src: url('https://thecozycorgi.github.io/fonts/Amoun.ttf') format('ttf');
}

@font-face {
  font-family: 'Aquila';
  src: url('https://thecozycorgi.github.io/fonts/Aquila.ttf') format('ttf');
}

@font-face {
  font-family: 'Aurantiaca';
  src: url('https://thecozycorgi.github.io/fonts/Aurantiaca.ttf') format('ttf');
}

@font-face {
  font-family: 'Glanity';
  src: url('https://thecozycorgi.github.io/fonts/Glanity.otf') format('opentype');
}

@font-face {
  font-family: 'Glanity Italic';
  src: url('https://thecozycorgi.github.io/fonts/Glanity-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Glinka';
  src: url('https://thecozycorgi.github.io/fonts/Glinka.otf') format('opentype');
}

@font-face {
  font-family: 'Glistic';
  src: url('https://thecozycorgi.github.io/fonts/Glistic.otf') format('opentype');
}

@font-face {
  font-family: 'Kind';
  src: url('https://thecozycorgi.github.io/fonts/One-Of-A-Kind.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/One-Of-A-Kind-Lite.ttf') format('ttf');
}

@font-face {
  font-family: 'Stacked Strong';
  src: url('https://thecozycorgi.github.io/fonts/Stacked-Strong.otf') format('opentype');
}

@font-face {
  font-family: 'Stranger';
  src: url('https://thecozycorgi.github.io/fonts/Stranger.otf') format('opentype');
}

@font-face {
  font-family: 'Stranger Italic';
  src: url('https://thecozycorgi.github.io/fonts/Stranger-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Vellago';
  src: url('https://thecozycorgi.github.io/fonts/Vellago.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Vellago.woff') format('woff'),
    url('https://thecozycorgi.github.io/fonts/Vellago.ttf') format('ttf');
}

@font-face {
  font-family: 'Wilberty';
  src: url('https://thecozycorgi.github.io/fonts/Wilberty.otf') format('opentype');
}

@font-face {
  font-family: 'Bio Space';
  src: url('https://thecozycorgi.github.io/fonts/biospace.ttf') format('ttf');
}

@font-face {
  font-family: 'Gold Badge';
  src: url('https://thecozycorgi.github.io/fonts/goldbadge.otf') format('opentype');
}

@font-face {
  font-family: 'Hermione';
  src: url('https://thecozycorgi.github.io/fonts/hermione.ttf') format('ttf');
}

@font-face {
  font-family: 'Imoger';
  src: url('https://thecozycorgi.github.io/fonts/imoger.otf') format('opentype');
}

@font-face {
  font-family: 'Magic Growing';
  src: url('https://thecozycorgi.github.io/fonts/magicgrowing.otf') format('opentype');
}
