/* IMPORTADOR DE FUENTES  */
@font-face {
  font-family: 'amore';
  src: url('https://thecozycorgi.github.io/fonts/Amore.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Amore.ttf') format('ttf'),
}


@font-face {
  font-family: 'bagola';
  src: url('https://thecozycorgi.github.io/fonts/Bagola.woff2') format('woff2'),
    url('https://thecozycorgi.github.io/fonts/Bagola.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Bagola.woff') format('woff'),
    url('https://thecozycorgi.github.io/fonts/Bagola.ttf') format('ttf');
}


@font-face {
  font-family: 'bilend';
  src: url('https://thecozycorgi.github.io/fonts/Bilend.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Bilend.ttf') format('ttf');
}


@font-face {
  font-family: 'bonjour';
  src: url('https://thecozycorgi.github.io/fonts/Bonjour.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Bonjour.ttf') format('ttf');
}


@font-face {
  font-family: 'casley';
  src: url('https://thecozycorgi.github.io/fonts/Casley.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Casley.ttf') format('ttf');
}


@font-face {
  font-family: 'fashion';
  src: url('https://thecozycorgi.github.io/fonts/Fashion.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Fashion.ttf') format('ttf');
}


@font-face {
  font-family: 'fox wizard';
  src: url('https://thecozycorgi.github.io/fonts/Fox Wizard.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Fox Wizard.ttf') format('ttf');
}


@font-face {
  font-family: 'goldine regular';
  src: url('https://thecozycorgi.github.io/fonts/Goldine Regular.ttf') format('ttf');
}


@font-face {
  font-family: 'Goldine';
  src: url('https://thecozycorgi.github.io/fonts/Goldine.otf') format('opentype'),
}


@font-face {
  font-family: 'Grafing';
  src: url('https://thecozycorgi.github.io/fonts/Grafing.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Grafing.ttf') format('ttf');
}


@font-face {
  font-family: 'Grinjake';
  src: url('https://thecozycorgi.github.io/fonts/Grinjake.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Grinjake.ttf') format('ttf');
}


@font-face {
  font-family: 'Groth';
  src: url('https://thecozycorgi.github.io/fonts/Groth.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Groth.ttf') format('ttf');
}


@font-face {
  font-family: 'Havana';
  src: url('https://thecozycorgi.github.io/fonts/Havana.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Havana.ttf') format('ttf');
}


@font-face {
  font-family: 'Humble';
  src: url('https://thecozycorgi.github.io/fonts/Humble.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Humble.ttf') format('ttf');
}


@font-face {
  font-family: 'Kinfolk';
  src: url('https://thecozycorgi.github.io/fonts/Kinfolk.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Kinfolk.ttf') format('ttf');
}


@font-face {
  font-family: 'Lavone';
  src: url('https://thecozycorgi.github.io/fonts/Lavone.ttf') format('ttf');
}


@font-face {
  font-family: 'Marline';
  src: url('https://thecozycorgi.github.io/fonts/Marline.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Marline.ttf') format('ttf');
}


@font-face {
  font-family: 'Megrath';
  src: url('https://thecozycorgi.github.io/fonts/Megrath.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Megrath.ttf') format('ttf');
}


@font-face {
  font-family: 'Mockads';
  src: url('https://thecozycorgi.github.io/fonts/Mockads.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Mockads.ttf') format('ttf');
}


@font-face {
  font-family: 'More Cream';
  src: url('https://thecozycorgi.github.io/fonts/MoreCream.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/MoreCream.ttf') format('ttf');
}


@font-face {
  font-family: 'Morgan';
  src: url('https://thecozycorgi.github.io/fonts/Morgan.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Morgan.ttf') format('ttf');
}


@font-face {
  font-family: 'Nessyn Sentry';
  src: url('https://thecozycorgi.github.io/fonts/Nessyn Sentry.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Nessyn Sentry.ttf') format('ttf');
}

@font-face {
  font-family: 'omany';
  src: url('https://thecozycorgi.github.io/fonts/OMANY.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/OMANY.ttf') format('ttf');
}

@font-face {
  font-family: 'Orchestra Regular';
  src: url('https://thecozycorgi.github.io/fonts/Orchestra Regular.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Orchestra Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Packy Great';
  src: url('https://thecozycorgi.github.io/fonts/PackyGreat.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/PackyGreat.ttf') format('ttf');
}

@font-face {
  font-family: 'Qebil';
  src: url('https://thecozycorgi.github.io/fonts/QEBIL.otf') format('opentype');
}

@font-face {
  font-family: 'Racking';
  src: url('https://thecozycorgi.github.io/fonts/Racking.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Racking.ttf') format('ttf');
}

@font-face {
  font-family: 'Reduced Clarity';
  src: url('https://thecozycorgi.github.io/fonts/ReducedClarity.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/ReducedClarity.ttf') format('ttf');
}

@font-face {
  font-family: 'Riqas';
  src: url('https://thecozycorgi.github.io/fonts/Riqas.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Riqas.ttf') format('ttf');
}

@font-face {
  font-family: 'Rofane Italic';
  src: url('https://thecozycorgi.github.io/fonts/Rofane Italic.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Rofane Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Rofane';
  src: url('https://thecozycorgi.github.io/fonts/Rofane.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Rofane.ttf') format('ttf');
}

@font-face {
  font-family: 'Soul Ozees';
  src: url('https://thecozycorgi.github.io/fonts/SOUL OZEES.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/SOUL OZEES.ttf') format('ttf');
}

@font-face {
  font-family: 'Stand For Honour';
  src: url('https://thecozycorgi.github.io/fonts/Stand For Honour.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Stand For Honour.ttf') format('ttf');
}

@font-face {
  font-family: 'ilyas';
  src: url('https://thecozycorgi.github.io/fonts/ilyas.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/ilyas.woff') format('woff');
}

@font-face {
  font-family: 'Sweet Brownies';
  src: url('https://thecozycorgi.github.io/fonts/Sweet Brownies.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/SweetBrownies.ttf') format('ttf');
}

@font-face {
  font-family: 'Swily Bright';
  src: url('https://thecozycorgi.github.io/fonts/SwilyBright-Regular.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/SwilyBright-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Talks';
  src: url('https://thecozycorgi.github.io/fonts/Talks.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Talks.ttf') format('ttf');
}

@font-face {
  font-family: 'Treifany Bold';
  src: url('https://thecozycorgi.github.io/fonts/Treifany Bold.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Treifany Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Treifany';
  src: url('https://thecozycorgi.github.io/fonts/Treifany.otf') format('opentype');
}

@font-face {
  font-family: 'Vatteavillany';
  src: url('https://thecozycorgi.github.io/fonts/Vatteavillany.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Vatteavillany.ttf') format('ttf');
}

@font-face {
  font-family: 'Aesthetic';
  src: url('https://thecozycorgi.github.io/fonts/Aesthetic-Regular.woff2') format('woff2'),
    url('https://thecozycorgi.github.io/fonts/Aesthetic-Regular.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/Aesthetic-Regular.woff') format('woff'),
    url('https://thecozycorgi.github.io/fonts/Aesthetic-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Arsenica';
  src: url('https://thecozycorgi.github.io/fonts/ArsenicaTrial-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Marllgon';
  src: url('https://thecozycorgi.github.io/fonts/Marllgon.otf') format('opentype');
}

@font-face {
  font-family: 'Quella';
  src: url('https://thecozycorgi.github.io/fonts/Quella.otf') format('opentype');
}

@font-face {
  font-family: 'Stanley';
  src: url('https://thecozycorgi.github.io/fonts/Stanley.otf') format('opentype');
}

@font-face {
  font-family: 'Vallery Qylmor';
  src: url('https://thecozycorgi.github.io/fonts/Vallery Qylmor.ttf') format('ttf');
}

@font-face {
  font-family: 'Wonder';
  src: url('https://thecozycorgi.github.io/fonts/WONDER SEASON.woff2') format('woff2'),
    url('https://thecozycorgi.github.io/fonts/WONDER SEASON.otf') format('opentype'),
    url('https://thecozycorgi.github.io/fonts/WONDER SEASON.woff') format('woff'),
    url('https://thecozycorgi.github.io/fonts/WONDER SEASON.ttf') format('ttf');
}
